<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script>
        window.RandomWebConfigValue = '@WebpackMVC5App.Helpers.WebConfigSettings.RandomWebConfigValue';
    </script>
    @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="@Url.Tag("~/build/webpack/app.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Tag("~/build/webpack/app.js")"></script>
    }
    else
    {
        <link href="@Url.Tag("~/build/webpack/app.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Tag("~/build/webpack/app.min.js")"></script>
    }
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>