<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script>
        window.RandomWebConfigValue = '@WebpackMVC5App.Helpers.WebConfigSettings.RandomWebConfigValue';
        window.UrlPrefix = window.location.origin + '/' + window.location.pathname.split('/')[1] + '/';
    </script>
    @RenderSection("header", required: false)
    @if (System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="@Url.Tag("~/build/webpack/app.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Tag("~/build/webpack/app.js")"></script>
    }
    else
    {
        <link href="@Url.Tag("~/build/webpack/app.min.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Tag("~/build/webpack/app.min.js")"></script>
    }
</head>
<body>
    <div class="container body-content">
        <div class="btn-group">
            <a title="Home" class="btn btn-primary" href="@Url.Action("Index","Home")"><span class="fa fa-home" ></span></a>
            <a title="Kendo" class="btn btn-success" href="@Url.Action("Kendo","Home")"><span class="fa fa-chevron-right" ></span></a>
            <a title="Kendo With MVC" class="btn btn-warning" href="@Url.Action("KendoWMVC","Home")"><span class="fa fa-chevron-right" ></span></a>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    @RenderSection("footer", required: false)
</body>
</html>